<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a href="#" class="footer__logo">
                <img src="./assets/images/logo2.png" alt="">
            </a>
            <div class="footer__content">
                <nav class="footer-menu">
                    <a href="#about">О компании</a>
                    <a href="#services">Услуги</a>
                    <a href="#projects">Проекты</a>
                    <a href="#partners">Партнеры</a>
                </nav>
                <div class="footer-info">
                    <div class="footer-info__item">
                        <p class="footer-info__item-title">Адрес офиса:</p>
                        <p class="footer-info__item-descr">г. Москва, Дмитровское ш. д.1 к.2</p>
                    </div>
                    <div class="footer-info__item">
                        <p class="footer-info__item-title">Контакты:</p>
                        <a class="footer-info__item-descr" href="tel:+74951281177">+7 (495) 128 11 77</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy">
            <p class="footer-copy__item">© Copyright</p>
            <a class="footer-copy__item" href="#">Политика конфиденциальности</a>
        </div>
    </div>
</footer>