<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="#">
                <img src="./assets/images/logo2.png" alt="">
            </a>
            <div class="header-content">
                <nav class="menu">
                    <ul class="menu__nav-list">
                        <li class="nav-list__item"><div class="nav-list__item-link">Услуги</div>
                            <div class="nav-list__item-inner">
                                <ul class="nav-list__submenu">
                                    <li>
                                        <a href="#services1" class="nav-list__item-link">Проектирование, монтаж, техническое обслуживание охранного видеонаблюдения</a>
                                    </li>
                                    <li>
                                        <a href="#services2" class="nav-list__item-link">Проектирование, монтаж, техническое обслуживание противодымной вентиляции</a>
                                    </li>
                                    <li>
                                        <a href="#services3" class="nav-list__item-link">Проектирование, монтаж, техническое обслуживание охранной и охранно-пожарной сигнализации</a>
                                    </li>
                                    <li>
                                        <a href="#services4" class="nav-list__item-link">Проектирование, монтаж, техническое обслуживание установок пожаротушения</a>
                                    </li>
                                    <li>
                                        <a href="#services5" class="nav-list__item-link">Поставка и техническое обслуживание первичных средств пожаротушения</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-list__item">
                            <a href="#about" class="nav-list__item-link">О компании</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#projects" class="nav-list__item-link">Проекты</a>
                        </li>
                        <!-- <li class="nav-list__item">
                            <a href="#partners" class="nav-list__item-link">Партнеры</a>
                        </li> -->
                    </ul>
                </nav>
                <div class="menu__right-block">
                    <a href="tel:+74951281177" class="nav-list__item-link">+ 7 495 128 11 77</a>
                    <a href="mailto:info@abs-pro.ru" class="nav-list__item-link">info@abs-pro.ru</a>
                    <button class="header__order-link hollow-btn" data-modal="modal-order">Заказать звонок</button>
                </div>

            </div>

            <div class="burger-menu">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>